<div class="container">
	<div class="row">
		<% @booklet.booklet_offers.each do |offer|%>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="booklet-offer-product">
					<div class="booklet-offer-product-imagecontainer">
						<%= image_tag offer.product.image_path ,{class: 'booklet-offer-product-image'} %>
					</div>

					<p class="booklet-offer-product-name">
						<%= offer.product.product_name %>
					</p>
					<p class="booklet-offer-product-price">
						<%= offer.price %>
					</p>
				</div>
			</div>
		<% end %>
	</div>
</div>